


body {
    color: rgba(11, 13, 15, 0.897);
font-family: sans-serif;
max-width: 650px;
margin: 0 auto;
padding: 0 16px;

display:  flex;
flex-direction: column;
min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    background: rgb(247, 247, 247);
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
margin-top: 16px;
margin-bottom: 46px;

}

h1 {
    font-size: 64px;
    margin-bottom:  16px;
}
header a {
color: rgb(10, 9, 9);
margin-right: 16px;
text-decoration: none;

}

.portrait {
    width: 250px;

}

input {
border: 1px solid #cccccc;
padding: 8px;

}
button {
 cursor: pointer;
 border: 1px solid #888888;
 background: #888888;
 color:rgb(247, 247, 247);
 padding: 8px;

}