


body {

       
    background-image: url('indexbg5.png');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    color: #020522 ;
font-family: sans-serif;
max-width: 650px;
margin: 0 auto;
padding: 0 16px;

display:  flex;
flex-direction: column;
min-height: 100vh;
}

.main-content{ 
    flex-grow: 1;
    border-radius: 25px;
    background: url('indexbg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #252525;
    padding: 20px;
    width: auto;
    height: cover;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:rgb(177, 177, 177);
    background-color: rgba(0, 0, 0, 0.6);
    background: transparent;
        text-align: center;
}

header {
margin-top: 16px;
margin-bottom: 46px;

}

h1 {
    font-size: 64px;
    margin-bottom:  16px;
}
header a {
color: rgb(10, 9, 9);
margin-right: 16px;
text-decoration: none;

}

.portrait {
    width: 250px;

}

input {
border: 1px solid #cccccc;
padding: 8px;

}
button {
 cursor: pointer;
 border: 1px solid #888888;
 background: #303030;
 color:rgb(247, 247, 247);
 padding: 8px;

}

.resultcss {
color:rgb(0, 0, 0) ;

}